/* line 5, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
#wrapper {
  background: #fff;
  box-shadow: 3px 3px 6px #333;
  min-height: 92%;
  margin: 1% auto;
  overflow: hidden;
  padding: 1%;
  position: relative;
  width: 95%;
}

/* line 16, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
ul.card_details,
ul.card_management {
  text-align: center;
}

/* line 21, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
ul.card_details li,
ul.card_management li {
  display: inline;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

/* line 29, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
ul.card_list li {
  display: inline;
  padding: 2em;
}

/* line 34, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
ul.card_list li:first-of-type {
  padding-left: 2%;
}

/* Index (show all cards) Page */
/* line 40, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
div.cards_view_all {
  border: 1px dashed #000;
  border-radius: 2em;
  float: left;
  margin: 1%;
  padding: 1em;
  width: 31%;
}

/* New/Edit Card Page */
/* line 50, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
div.card_editor {
  float: left;
  min-width: 15em;
  padding: 1em;
  width: 15%;
}

/* line 57, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
div.card_display {
  float: left;
  min-width: 80%;
}

/* Each Card's Display */
/* line 63, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
div.card_front,
div.card_back {
  border: 1px solid #000;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #333;
  display: inline-block;
  margin: 1% 0 1% 1%;
  max-height: 100%;
  padding: 1%;
  position: relative;
  width: 45%;
}

/* line 76, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
.card_front:after,
.card_back:after {
  content: '';
  display: block;
  padding-top: 150%;
}

/* line 83, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
.card_side_description {
  color: #000;
  font-size: 1em;
  left: 3px;
  opacity: 80%;
  position: absolute;
  text-shadow: 1px 1px 1px #fff;
  top: 2px;
}

/* line 93, c:/Sites/flashcard/app/assets/stylesheets/cards.scss */
.card_text {
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
}
/* line 1, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, c:/Sites/flashcard/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

/* reset css */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
}

html, body {
  background: #777;
  height: 100%;
}
