<h1>Flash Cards</h1>

<div>
  <section>
    <h2>Deck</h2>
    <p>Select Your Deck</p>
    <% deckArray = Array.new %>
    <% @decks.each do |deck| %>
      <% deckArray.push(deck.id) %>
    <% end %>

    <select size="<%= deckArray.size %>" name="Deck">
      <% deckArray.each do |deck| %>
        <option value="<%= deck %>"><%= deck %></option>
      <% end %>
    </select>
  </section>  



</div>



<span>Here is the name of the Deck with ID #2:</span>
<br>
<br>
<span style="color:blue;font-size:2em">
<% @test = Deck.find(2) %>
<%= @test.title %>
</span>