<h1>Card Editor</h1>

<div class="card_edit">
  
  <ul class="div_nav left">
    <li><%= link_to 'Back', current_user_deck_cards_path(current_user, @deck, @cards) %></li>
  </ul>
  
  <%= render 'form' %>

</div>