<p id="notice"><%= notice %></p>

<p>
  <strong>Visible:</strong>
  <%= @card.visible %>
</p>

<%= link_to 'Edit', edit_deck_card_path(@deck, @card) %> |
<%= link_to 'Back', deck_cards_path(@deck, @card) %>
