// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
  background: #fff;
  box-shadow: 3px 3px 6px #333;
  min-height: 90%;
  margin: 1% auto;
  overflow: hidden;
  padding: 1%;
  position: relative;
  width: 95%;
}


/* Main Layout Nav */
nav {
  margin: 5px auto 20px;
  text-align: center;
}

nav ul li {
  display: inline;
  font-size: 1.25em;
  margin: 0 1em;
}

nav a {
  border: 1px solid #999;
  border-radius: 5em;
  box-shadow: 2px 2px 4px #ccc inset,
    -4px -4px 8px #ccc inset;
  padding: 0.25em 0.5em 0.375em;
  text-decoration: none;
}


/* Views > Home > Display */
div.home_display section {
  margin: 1em;
}

div.home_display div.current_deck {
  margin: 1em auto;
}

div.home_display div.current_deck h3 {
  border: 1px solid #000;
  display: inline;
  font-size: 1.5em;
  margin: 0.5em auto;
  padding: 0.25em;
}

div.home_display div.current_deck div.buttons {
  margin: 1em 0 3em 6em;
}


/* Views > (ALL VIEWS) > Index */
table {
  background: #efefef;
  box-shadow: 2px 2px 4px #ccc;
  margin-top: 2em;
}

table th {
  background: #cecece;
}

table th,
table td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 0.75em;
}


/* Views > (ALL VIEWS) > Sub-Nav Divs */
ul.div_nav {
  margin: 1em;
}

ul.div_nav li {
  display: inline;
  padding: 0.25em 0.5em;
  text-align: center;
  text-transform: uppercase;
}

ul.div_nav li a {
  border: 1px solid #999;
  border-radius: 5em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

/* Sub-Navs, Center-Aligning (use class="div_nav left") */
ul.div_nav.center {
  text-align: center;
}

/* Sub-Navs, Left-Aligning (use class="div_nav center") */
ul.div_nav.left {
  text-align: left;
}

/* Sub-Navs, Right-Aligning (use class="div_nav right") */
ul.div_nav.right {
  text-align: right;
}


/* Views > Decks > Show */
div.deck_show p{
  font-size: 1.25em;
  margin: 0.5em 0;
}

div.deck_show p.title {
  font-size: 1.75em;
}


/* Card's Actual On-Screen Presentation */
div.card_display {
  float: left;
  min-width: 66%;
}

div.card_front,
div.card_back {
  border: 1px solid #000;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #333;
  display: inline-block;
  margin: 1% 0 1% 1%;
  max-height: 100%;
  padding: 1%;
  position: relative;
  width: 45%;
}

div.card_front:after,
div.card_back:after {
  content: '';
  display: block;
  padding-top: 150%;
}

p.card_side_description {
  color: #fff;
  font-size: 1em;
  left: 4px;
  opacity: 80%;
  position: absolute;
  text-shadow: 1px 1px 1px #000,
    1px 0 1px #000,
    -1px -1px 1px #000,
    -1px 0 1px #000;
  top: 2px;
}

p.card_text {
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 95%;
  word-break: break-all;
}

p#showAnswerText {
  position: absolute;
  top: 240px;
  left: 150px;
  font-size: 20px;
  font-weight: 800;
}


/* Views > Cards > Index */
div.cards_display_index {
  border: 1px solid #aaa;
  border-radius: 2em;
  box-shadow: 1px 1px 3px #ccc inset;
  float: left;
  margin: 1%;
  padding: 1em;
  width: 28%;
}

/* Views > Cards > New/Edit */
div.card_editor {
  float: left;
  min-width: 15em;
  padding: 1em;
  width: 15%;
}

/* Views > Cards > Show */
div.card_show {
  margin: 2em auto;
  width: 66%;
}

div.card_show div.card_front,
div.card_show div.card_back {
  float: none;
  width: 45%;
}

div.card_show ul.div_nav li {
  font-size: 1.5em;
  margin: 2%;
}