body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

   &.no-touch :hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  display: none;
}

.notice,
.alert {
  color: green;
  font-size: 1.5em;
  margin: 1em;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.field_with_errors {
  background-color: #f00;
  color: #fff;
  display: inline-block;
  padding: 0.25em;
}

#error_explanation {
  background-color: #f0f0f0;
  border: 0.25em solid red;
  box-shadow: 1px 1px 3px #000;
  display: table;
  padding: 0.5em;
  margin: 1.5em 0;

  h2 {
    background-color: #c00;
    box-shadow: 1px 1px 2px #fff inset,
      -1px -1px 2px #777 inset;
    color: #fff;
    font-size: 1em;
    margin: 1em 0;
    padding: 1em;
    text-align: left;
    text-shadow: 0 0 2px #000;
  }

  ul li {
    font-size: 1.25em;
    list-style: none;
    padding: 0 0.25em;
  }
}
