body {
  font-size: 0.66em;
}

div#wrapper {
  background: #fff;
  box-shadow: 3px 3px 6px #333;
  min-height: 90%;
  margin: 1% auto;
  overflow: hidden;
  padding: 1%;
  position: relative;
  width: 95%;
}


/* Login */
div.home_login {
  border: 1px solid #999;
  box-shadow: 1px 1px 1px #999 inset,
    -1px -1px 1px #ccc inset;
  display: inline-block;
  float: none;
  margin-right: 0.5em;
  padding: 0.25em;
  text-align: center;
}

div.home_login form {
  display: inline-block;
  margin: 0.5em auto 0.25em;
}


/* Main Section */
main {
  margin: 0.375em;
}

main h1 {
  margin-bottom: 0.66em;
}

main h2, main h3, main h4, main h5, main h6 {
  margin-bottom: 0.33em;
}


/* Edit/New Views */
input[type=text],
textarea,
select {
  font-size: 1em;
  margin-top: 0.25em;
  padding: 0.125em;
}

label {
  display: inline-block;
  margin-top: 0.25em;
  text-transform: capitalize;
}


/* All Views > Submit Button */
input[type=submit],
button {
  background: initial;
  border: 1px solid #999;
  border-radius: 0.25em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  font-size: 1em;
  padding: 0.25em 0.5em;
}

input[type=submit].positive,
button.positive {
  background: #d8ffdb;
  box-shadow: 2px 2px 4px #cbffcf inset,
   -4px -4px 8px #7ace80 inset;
  font-size: 1em;
}

div.button_cancel  {
  text-align: center;
  border: 1px solid #999;
  border-radius: 0.25em;
  background: #f7dada;
  box-shadow: 2px 2px 4px #ffe6e6 inset,
   -4px -4px 8px #ebb3b3 inset;
  display: inline-block;
  padding: 0.25em 0.5em;
}

div.button_cancel a {
  font-size: 1em;
  color: #000;
  text-decoration: none;
}

input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus,
div.button_cancel a:hover,
div.button_cancel a:focus {
  background: #000;
  color: #fff;
}


/* App Layout > Header */
header#main_title {
  background: #000;
  border-radius: 0.25em;
  color: #fff;
  display: none;
  height: 2.5em;
  padding: 0.25em;
  width: 98%;
}

header#main_title h1 {
  font-size: 2em;
}

header#main_title h2 {
  font-size: 1em;
  left: 11em;
  position: relative;
}


/* App Layout > Nav */
nav {
  background: #fff;
  border: 1px solid #999;
  border-radius: 0.25em;
  box-shadow: 1px 1px 5px #777,
    1px 1px 3px #ccc inset,
    -1px -1px 3px #ccc inset;
  display: none;
  height: auto;
  margin: 2px auto 10px;
  position: absolute;
  right: 0.75em;
  text-align: center;
  top: 0.5em;
  width: 40%;
  z-index: 10;
}

/* App Layout > Nav Button for Mobile Popup */
div#main_nav_button {
  /*background: #fff;
  border: 1px solid #999;
  border-radius: 2em;
  box-shadow: 1px 1px 5px #777,
    1px 1px 3px #ccc inset,
    -1px -1px 3px #ccc inset;
  opacity: 0.5;
  padding: 0.25em 0.2em 0.9em 0.25em;*/
  opacity: 0.66;
  position: absolute;
  right: 0.125em;
  right: 0.5em;
  top: 0.125em;
  top: 0.66em;
}

div#main_nav_button:focus,
div#main_nav_button:hover {
  opacity: 1.0;
}

div#main_nav_button:active ~ nav {
  display: block;
}

div#main_nav_button p {
  color: #000;
  font-size: 3em;
  font-weight: bold;
}


/* App Layout > Main Section */
img.team_awesome_logo {
  display: block;
  float: left;
  height: auto;
  margin: 1em auto;
  max-width: 640px; 
  width: 100%;
}


/* Views > Decks > Index */
div.deck_index {
  overflow: auto;
}


/* All Pages > Table */
table {

}

table th {
  background: #cecece;
}

table th,
table td {
  font-size: 0.88em;
  padding: 0.125em 0.5em;
}

table td:first-of-type {
  font-weight: bold;
}



/* Views > Home > Display */
div.home_display section {
  margin: 1em;
}

ul.card_name {
  margin: 1em;
  text-align: center;
}

ul.card_name li {
  display: inline;
  text-align: center;
}

ul.card_name li a {
  border: 1px solid #999;
  border-radius: 0.125em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  font-size: 2em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}


/* --- Views > Home > Display --- */
div#jumpToCard {
  border: 1px solid #999;
  border-radius: 0.25em;
  margin: 0.5em;
  padding: 0.5em;
}

div#jumpToCard h4 {
  display: inline;
}

div#jumpToCard a {
  border: 1px solid #ccc;
  border-radius: 0.125em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  margin: auto 0.25em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

p#cardSideDescription {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  margin: 1em auto 0.33em;
  text-align: center;
}

div.questionTextDiv,
div.answerTextDiv {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.cardContainer {
  display: flex;
  justify-content: center;
}

div.cardSide {
  border: 1px solid #000;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #333;
  display: inline-block;
  margin-left: 25%;
  max-height: 100%;
  padding: 1%;
  position: relative;
  width: 45%;
}

div.cardSide:after {
  content: '';
  display: block;
  padding-top: 150%;
}


/* --- Views > Home > Display > Forward and Back Arrows --- */
.fa-chevron-left, .fa-chevron-right {
  text-shadow: 1px 0px 3px rgba(0, 0, 0, 1);
}

.fa-chevron-left {
  position: absolute;
  top: 45%;
  background: -webkit-linear-gradient(right, #878787, #000);
  background: linear-gradient(right, #878787, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-chevron-right {
  position: absolute;
  top: 45%;
  background: -webkit-linear-gradient(left, #878787, #000);
  background: linear-gradient(left, #878787, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* All Views > Sub-Nav Div */
ul.div_nav {
  margin: 1em auto;
  /* margin: 1em 0 1em -.5em; */
}

ul.div_nav li {
  display: block;
  margin: 0.5em 0;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
}

ul.div_nav li a {
  border: 1px solid #999;
  border-radius: 0.25em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

/* Sub-Navs, Center-Aligning (use class="div_nav center") */
ul.div_nav.center {
  text-align: center;
}

/* Sub-Navs, Left-Aligning (use class="div_nav left") */
ul.div_nav.left {
  text-align: left;
  /* display: inline;
  margin-right: -.9em; */
}

/* Sub-Navs, Right-Aligning (use class="div_nav right") */
ul.div_nav.right {
  text-align: right;
}


/* Views > Decks > Show */
div.deck_show p{
  font-size: 1.25em;
  margin: 0.5em 0;
}

div.deck_show p.title {
  font-size: 1.75em;
}


/* Views > Cards > _form */
div.card_edit,
div.card_new {
  min-height: 420px;
}


/* Views > Cards > New/Edit */
div.card_editor {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #333;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #333;
  display: none;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  top: 0.125em;
  width: 88%;
  z-index: 11;
}

div.card_editor:hover,
div.card_editor:focus {
  display: block;
}

div#card_editor_button {
  border: 1px solid #999;
  border-radius: 0.25em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  display: inline-block;
  font-size: 2em;
  margin: 0.25em auto 1em;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
}

div#card_editor_button:hover,
div#card_editor_button:focus {
  background: #f00;
  color: #fff;
}

div#card_editor_button:active ~ div.card_editor {
  display: block;
}


/* Card's Actual On-Screen Presentation */
div.card_display {
  float: none;
  min-width: 88%;
}

div.card_front,
div.card_back {
  border: 1px solid #000;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #333;
  display: inline-block;
  margin: 1% 0 1% 1%;
  max-height: 100%;
  padding: 1%;
  position: relative;
  width: 45%;
}

div.card_front:after,
div.card_back:after {
  content: '';
  display: block;
  padding-top: 150%;
}

p.card_side_description {
  color: #fff;
  font-size: 1em;
  left: 4px;
  opacity: 80%;
  position: absolute;
  text-shadow: 1px 1px 1px #000,
    1px 0 1px #000,
    -1px -1px 1px #000,
    -1px 0 1px #000;
  top: 2px;
}

p.card_text {
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 95%;
  word-break: break-all;
}

p#showAnswerText {
  position: absolute;
  left: 45%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
}


/* Views > Cards > Index */
div.cards_display_index {
  border: 1px solid #aaa;
  border-radius: 2em;
  box-shadow: 1px 1px 3px #ccc inset;
  float: none;
  margin: 2em auto;
  padding: 1em;
  width: 88%;
}


/* Views > Cards > Show */
div.card_show {
  margin: 0.125em auto;
}

div.card_show div.card_front,
div.card_show div.card_back {
  float: none;
  width: 45%;
}

div.card_show ul.div_nav li {
  display: block;
}

div.card_show ul.div_nav li strong{
  text-decoration: underline;
}

/* Alert and Notice */
.notice {
  text-align: center;
  margin-top: 2em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(21, 212, 43, 1);
  padding: 7px 0 9px 0;
}

.alert {
  text-align: center;
  margin-top: 2em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 0, 0, 1);
  padding: 7px 0 9px 0;
}


/* --------- RESPONSIVE MEDIA QUERIES ----------- */


/* ---- 320 x 480 screen in landscape --------- */
@media only screen and (orientation:landscape) {
  
  ul.div_nav li {
    display: inline;
  }
  
  div.cards_display_index {
    width: 45%;
  }
 
}



/* ---- max 480 wide screen in portrait --------- */
@media only screen and (min-width: 200px) {
  
  main > h1 {
    background-color: darkslateblue;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 3em;
    padding-top: 1em;
    margin-top: 35px;
    height: 50px;
    width: 100%;
  }
  
  /*---------Nav Styling----------------*/
  
  nav > ul > li {
    
  }
  
  nav:focus,
  nav:hover {
    display: block;
  }
  
  nav ul li {
    list-style: none;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    height: 2em;
    padding-top: 1em;
  }
  
  nav ul li:first-child {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
  }
  
  nav ul li:last-child {
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-bottom: none;
  }
  
  #main_nav a {
    font-size: 1em;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 1);
    padding: 20px 30px;
  }

  /*---------All Decks table styling------------*/
  table {
    border: 0;
    background-color: #fff;
    width: 98%;
  }
  
  table tr {
    margin-bottom: 20px;
    display: block;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);
    border-radius: 1em;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
  }
  
  table td a:hover {
    color: rgba(0, 0, 0, 1);
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  
  .tables td:first-child {
    text-align: center;
    font-size: 1.5em;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  
  .links {
    text-align: center;
    background-color: black;
    border-top: 1px solid #ccc;
  }
  .links:last-child {
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    line-height: 20px;
    font-size: 1.5em;
  }
  
  .links a:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  table.categories td:first-child {
    padding: 15px;
    font-size: 1.5em;
  }
  
  /*------------Card Editor------------*/
  .card_editor .field {
    margin-bottom: 5px;
  }

  .card_editor input, .card_editor textarea {
    width: 90%; 
  }
      
  div.card_editor textarea {
    font-size: 1.5em;
    width: 98%; 
  }
  
  div.card_editor #card_name {
    width: 96%;
  }
  .card_editor select {
    font-size: 1.5em;
  }
  
  div.card_editor input[type='checkbox'] {
    -webkit-appearance:none;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 1);
    display: inline-block;
  }
  
  div.color_field {
    margin-left: 3em;
    padding: 3px;
  }
  
  div.color_field .field {
    display: inline-block;
    margin: 2px 5px;
    text-align: center;
  }
  
  #card_background_color, #card_foreground_color {
    width: 8em;
    height: 5em;
  }
  
  div.card_editor .actions {
    display: inline-block;
  }
  
  div.card_editor .actions input, div.card_editor > .button_cancel {
    width: 10em;
    line-height: 3em;
    margin-right: 1em;
    margin-left: 1em;
    display: inline-block;
  }
  
  div.card_editor #card_picture {
    font-size: 1.5em;
  }
  
  /*------Deck Edit-------*/
  .deck_edit #deck_description, .deck_edit #deck_category_id, .deck_edit #deck_title {
    font-size: 1.5em;
  }
    
  .deck_edit #deck_title {
    width: 94%
  }
  
  .deck_edit #deck_description {
    width: 96%;
  }
  
  .deck_edit .positive {
    padding: 10px 30px;
  }

  .deck_edit .button_cancel {
    padding: 9px 48px;
  }
  
  /*--------Edit Category--------*/
  .category_edit #category_name {
    font-size: 1.5em;
  }
  
  .category_edit .button_cancel {
    padding: 9px 48px;
  }
  
  .category_edit .positive {
    padding: 10px 20px;
  }
 
}

@media only screen and (min-width: 480px) {

  nav ul li {
    list-style: none;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    height: 3em;
    padding-top: 1.5em;
  }
      
  #main_nav a {
    font-size: 1.5em;
    padding: 20px 50px;
  }
    
  table.categories {
    width: 20em;
  }
  
  .category_tables {
    display: flex;
    flex-wrap: wrap;
  }

  .category_tables table {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  table th, table td {
    padding: 0.66em; 
  }
  
  /*------------Card Editor------------*/
  div.card_editor {
    width: 60%;
  }
  
    
  /*--------Deck Edit-----------*/
      
  .deck_edit #deck_title {
    width: 59%
  }
  
  .deck_edit #deck_description {
    width: 60%;
  }

}


/* ---- 768 wide screen in portrait ----------- */
@media only screen and (min-width: 768px) {
  
  body {
    font-size: 1em;
  }
  
  /*------NAV-----*/
  nav {
    display: inline;
    position: relative;
  }
  
  nav:hover,
  nav:focus {
    display: inline;
  }
  
  #main_nav li {
    width: 5em;
    padding-top: 0.5em;
    display: inline;
    border: none;
  }

  #main_nav li a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    height: 1em;
    font-size: 1.25em;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.25em;
    box-shadow: 2px 2px 4px #ccc inset, -4px -4px 8px #ccc inset;
  }

  /*----------------------*/
  
  
  div.home_login {
    float: right;
  }
  
  ul.div_nav li {
    display: inline;
  }
  
  div#main_nav_button {
    display: none;
  }
  
  .tables {
    display: flex;
    flex-wrap: wrap;
  }

  .tables table {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
  }

  div.card_show ul.div_nav {
    font-size: 1.25em;
    margin: 2%;
    text-align: center;
  }
  
  div.card_show ul.div_nav li {
    display: inline-block;
  }
  
  div.card_show ul.div_nav li strong{
  text-decoration: underline;
  }
  
  div.cards_display_index {
    float: left;
    margin: 1em;
    width: 40%;
  }
  
  /*-----Card Editor------*/
  
  div.card_editor {
    width: 25em;
  }
  
  .card_editor input, .card_editor textarea {
    width: 98%; 
  }
  
  .card_editor .field {
    margin-bottom: 10px;
  }
  
  .card_editor input, .card_editor textarea {
    width: 90%; 
  }
      
  div.card_editor textarea {
    font-size: 1em;
    width: 98%; 
  }
  
  div.card_editor #card_name {
    width: 96%;
  }
  .card_editor select {
    font-size: 1em;
  }
  
  div.card_editor input[type='checkbox'] {
    -webkit-appearance:none;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 1);
    display: inline-block;
  }
  
  div.color_field {
    margin-left: 3em;
    padding: 3px;
  }
  
  div.color_field .field {
    display: inline-block;
    margin: 2px 5px;
    text-align: center;
  }
  
  #card_background_color, #card_foreground_color {
    width: 8em;
    height: 5em;
  }
  
  .field label {
    margin-bottom: 5px;
  }

  div.card_editor .actions input, div.card_editor > .button_cancel {
    width: 7em;
    margin: 0 .5em;
    display: inline-block;
  }
  
  div.card_editor #card_picture {
    font-size: 1em;
  }
  
  /*--------Deck Edit-----------*/
      
  .deck_edit #deck_title {
    width: 49%
  }
  
  .deck_edit #deck_description {
    width: 50%;
  }
  
 
}


/* ---- 1024 wide screen in landscape --------- */
@media only screen and (min-width: 1024px) {
  
  img.team_awesome_logo {
    top: 0;
  }
  
  table th,
  table td {
    padding: 0.66em;
  }
  
  div#card_editor_button {
    display: none;
  }
  
  div.card_editor {
    border: none;
    box-shadow: none;
    display: block;
    float: left;
    position: relative;
    width: 13em;
  }
  
  div.card_editor div.field {
    margin: 0.5em;
  }
  
  div.card_display {
    float: left;
    min-width: 75%;
  }
  
  div.cards_display_index {
    margin: 0.5em;
    width: 25%;
  }
  
  div.card_show ul.div_nav li {
    margin: 0 3em;
  }
  
  /*------Card Editor------*/
   
  
  div.color_field {
        margin-left: 0px;
  }
  
  #card_background_color, #card_foreground_color {
    width: 7em;
    height: 1.5em;
    display: block;
  }
  
  div.card_editor #card_picture {
    font-size: 0.75em;
  }
  
}
