body {
  font-size: 0.66em;
}

div#wrapper {
  background: #fff;
  box-shadow: 3px 3px 6px #333;
  min-height: 90%;
  margin: 1% auto;
  overflow: hidden;
  padding: 1%;
  position: relative;
  width: 95%;
}

div.home_login {
  border: 1px solid #999;
  box-shadow: 1px 1px 1px #999 inset,
    -1px -1px 1px #ccc inset;
  display: inline-block;
  float: right;
  margin-right: 0.5em;
  padding: 0.125em 0 0.25em 0.125em;
}

main h1 {
  margin-bottom: 0.66em;
}

main h2, main h3, main h4, main h5, main h6 {
  margin-bottom: 0.33em;
}

/* Edit/New Views */
input[type=text],
textarea,
select {
  font-size: 1em;
  margin-top: 0.25em;
  padding: 0.125em;
}

select {
  border: 0;
  font-size: 16px;
}

div.select {
  border: 1px solid #999;
  box-shadow: 1px 1px 1px #999 inset,
    -1px -1px 1px #ccc inset;
  display: inline;
  margin-right: 0.5em;
  padding: 0.125em 0 0.25em 0.125em;
}

label {
  display: inline-block;
  margin-top: 0.25em;
  text-transform: capitalize;
}

/* All Views > Submit Button */
input[type=submit],
button {
  background: initial;
  border: 1px solid #999;
  border-radius: 0.25em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  font-size: 1em;
  padding: 0.25em 0.5em;
}

input[type=submit].positive,
button.positive {
  background: #d8ffdb;
  box-shadow: 2px 2px 4px #cbffcf inset,
   -4px -4px 8px #7ace80 inset;
}

div.button_cancel a {
  border: 1px solid #999;
  border-radius: 0.25em;
  background: #f7dada;
  box-shadow: 2px 2px 4px #ffe6e6 inset,
   -4px -4px 8px #ebb3b3 inset;
  color: #000;
  display: inline-block;
  font-size: 1em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus,
div.button_cancel a:hover,
div.button_cancel a:focus {
  background: #000;
  color: #fff;
}


/* App Layout > Header */
header#main_title {
  background: #000;
  border-radius: 0.25em;
  color: #fff;
  display: none;
  height: 2.5em;
  padding: 0.25em;
  width: 98%;
}

header#main_title h1 {
  font-size: 2em;
}

header#main_title h2 {
  font-size: 1em;
  left: 11em;
  position: relative;
}


/* App Layout > Nav */
nav {
  background: #fff;
  border: 1px solid #999;
  border-radius: 1em;
  box-shadow: 1px 1px 5px #777,
    1px 1px 3px #ccc inset,
    -1px -1px 3px #ccc inset;
  display: none;
  height: auto;
  margin: 2px auto 10px;
  position: absolute;
  right: 0.75em;
  text-align: center;
  top: 0.5em;
  width: 40%;
  z-index: 10;
}

nav:focus,
nav:hover {
  display: block;
}

nav ul li {
  font-size: 1.25em;
  list-style: none;
  margin: 1em 0.5em;
}

nav a {
  border: 1px solid #999;
  border-radius: 0.5em;
  box-shadow: 2px 2px 4px #ccc inset,
    -4px -4px 8px #ccc inset;
  margin: 3em 0;
  padding: 0.25em 0.5em 0.5em;
  text-decoration: none;
  width: 100%;
}


/* App Layout > Nav Button for Mobile Popup */
div#main_nav_button {
  /*background: #fff;
  border: 1px solid #999;
  border-radius: 2em;
  box-shadow: 1px 1px 5px #777,
    1px 1px 3px #ccc inset,
    -1px -1px 3px #ccc inset;
  opacity: 0.5;
  padding: 0.25em 0.2em 0.9em 0.25em;*/
  opacity: 0.66;
  position: absolute;
  right: 0.125em;
  right: 0.5em;
  top: 0.125em;
  top: 0.66em;
}

div#main_nav_button:focus,
div#main_nav_button:hover {
  opacity: 1.0;
}

div#main_nav_button:active ~ nav {
  display: block;
}

div#main_nav_button p {
  color: #000;
  font-size: 3em;
  font-weight: bold;
}


/* App Layout > Main Section */
main {
  margin: 0.375em;
}

img.team_awesome_logo {
  display: block;
  height: auto;
  margin: 1em auto;
  max-width: 640px; 
  width: 100%;
}


/* Views > Decks > Index */
div.deck_index {
  overflow: auto;
}


/* All Pages > Table */
table {
  background: #efefef;
  box-shadow: 2px 2px 4px #ccc;
}

table th {
  background: #cecece;
}

table th,
table td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 0.88em;
  padding: 0.125em 0.5em;
}

table td:first-of-type {
  font-weight: bold;
}



/* Views > Home > Display */
div.home_display section {
  margin: 1em;
}

ul.card_name {
  margin: 1em;
  text-align: center;
}

ul.card_name li {
  display: inline;
  text-align: center;
}

ul.card_name li a {
  border: 1px solid #999;
  border-radius: 0.125em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  font-size: 2em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}


/* All Views > Sub-Nav Div */
ul.div_nav {
  margin: 1em 0;
}

ul.div_nav li {
  display: block;
  margin: 0.5em 0;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
}

ul.div_nav li a {
  border: 1px solid #999;
  border-radius: 0.25em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

/* Sub-Navs, Center-Aligning (use class="div_nav left") */
ul.div_nav.center li {
  text-align: center;
}

/* Sub-Navs, Left-Aligning (use class="div_nav center") */
ul.div_nav.left li {
  text-align: left;
}

/* Sub-Navs, Right-Aligning (use class="div_nav right") */
ul.div_nav.right li {
  text-align: right;
}


/* Decks > Show */
div.deck_show p{
  font-size: 1.25em;
  margin: 0.5em 0;
}

div.deck_show p.title {
  font-size: 1.75em;
}


/* Views > Cards > _form */
div.card_edit,
div.card_new {
  min-height: 420px;
}

/* Views > Cards > New/Edit */
div.card_editor {
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #333;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #333;
  display: none;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  top: 0.125em;
  width: 88%;
  z-index: 11;
}

div.card_editor:hover,
div.card_editor:focus {
  display: block;
}

div#card_editor_button {
  border: 1px solid #999;
  border-radius: 0.25em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  display: inline-block;
  font-size: 2em;
  margin: 0.25em auto 1em;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
}

div#card_editor_button:hover,
div#card_editor_button:focus {
  background: #f00;
  color: #fff;
}

div#card_editor_button:active ~ div.card_editor {
  display: block;
}

/* Card's Actual On-Screen Presentation */
div.card_display {
  float: none;
  min-width: 88%;
}

div.card_front,
div.card_back {
  border: 1px solid #000;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #333;
  display: inline-block;
  margin: 1% 0 1% 1%;
  max-height: 100%;
  padding: 1%;
  position: relative;
  width: 45%;
}

div.card_front:after,
div.card_back:after {
  content: '';
  display: block;
  padding-top: 150%;
}

p.card_side_description {
  color: #fff;
  font-size: 1em;
  left: 4px;
  opacity: 80%;
  position: absolute;
  text-shadow: 1px 1px 1px #000,
    1px 0 1px #000,
    -1px -1px 1px #000,
    -1px 0 1px #000;
  top: 2px;
}

p.card_text {
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 35%;
  width: 95%;
  word-break: break-all;
}

p#showAnswerText {
  position: absolute;
  left: 45%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
}


/* Views > Cards > Index */
div.cards_display_index {
  border: 1px solid #aaa;
  border-radius: 2em;
  box-shadow: 1px 1px 3px #ccc inset;
  float: none;
  margin: 2em auto;
  padding: 1em;
  width: 88%;
}

/* Views > Cards > Show */
div.card_show {
  margin: 0.125em auto;
}

div.card_show div.card_front,
div.card_show div.card_back {
  float: none;
  width: 45%;
}

div.card_show ul.div_nav li {
  display: block;
}

div.card_show ul.div_nav li strong{
  text-decoration: underline;
}


/* ---- 320 x 480 screen in landscape --------- */
@media only screen and (orientation:landscape) {
  
  div.cards_display_index {
    width: 45%;
  }
  
  img.team_awesome_logo {
    position: relative;
    top: -6em;
  }
}


/* ---- 768 wide screen in portrait ----------- */
@media only screen and (min-device-width: 768px) {
  
  body {
    font-size: 1em;
  }
  nav {
    display: inline;
    position: relative;
  }
  
  nav:hover,
  nav:focus {
    display: inline;
  }
  
  nav ul li {
    display: inline;
  }
  
  div#main_nav_button {
    display: none;
  }
  
  div.card_editor {
    width: 50%;
  }
  
  div.card_show ul.div_nav {
    font-size: 1.25em;
    margin: 2%;
    text-align: center;
  }
  
  div.card_show ul.div_nav li {
    display: inline-block;
  }
  
  div.card_show ul.div_nav li strong{
  text-decoration: underline;
  }
  
  div.cards_display_index {
    float: left;
    margin: 1em;
    width: 40%;
  }
}



/* ---- 1024 wide screen in landscape --------- */
@media only screen and (min-device-width: 1024px) {
  
  img.team_awesome_logo {
    top: 0;
  }
  
  table th,
  table td {
    padding: 0.66em;
  }
  div#card_editor_button {
    display: none;
  }
  
  div.card_editor {
    border: none;
    box-shadow: none;
    display: block;
    float: left;
    position: relative;
    width: 13em;
  }
  
  div.card_editor div.field {
    margin: 0.5em;
  }
  
  div.card_display {
    float: left;
    min-width: 75%;
  }
  
  div.cards_display_index {
    margin: 0.5em;
    width: 25%;
  }
  
  div.card_show ul.div_nav li {
    margin: 0 3em;
  }
}



/* --- Views > Home > Display > Forward and Back Arrows --- */
div#jumpToCard {
  border: 1px solid #999;
  border-radius: 0.25em;
  margin: 0.5em;
  padding: 0.5em;
}

div#jumpToCard h4 {
  display: inline;
}

div#jumpToCard a {
  border: 1px solid #ccc;
  border-radius: 0.125em;
  box-shadow: 2px 2px 4px #ccc inset,
   -4px -4px 8px #ccc inset;
  margin: auto 0.25em;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

p#cardSideDescription {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  margin: 1em auto 0.33em;
  text-align: center;
}

.fa-chevron-left, .fa-chevron-right {
  text-shadow: 1px 0px 3px rgba(0, 0, 0, 1);
}

.fa-chevron-left {
  position: absolute;
  top: 45%;
  background: -webkit-linear-gradient(right, #878787, #000);
  background: linear-gradient(right, #878787, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-chevron-right {
  position: absolute;
  top: 45%;
  background: -webkit-linear-gradient(left, #878787, #000);
  background: linear-gradient(left, #878787, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
.fa-chevron-left:hover, .fa-chevron-right:hover {
  -webkit-text-fill-color: blue;
}
*/

div.questionTextDiv,
div.answerTextDiv {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.cardContainer {
  display: flex;
  justify-content: center;
}

div.cardSide {
  border: 1px solid #000;
  border-radius: 1em;
  box-shadow: 3px 3px 3px #333;
  display: inline-block;
  margin-left: 25%;
  max-height: 100%;
  padding: 1%;
  position: relative;
  width: 45%;
}

div.cardSide:after {
  content: '';
  display: block;
  padding-top: 150%;
}
