<h1>All Categories</h1>

<div class="card_index">

  <div class="category_tables"> 
    <% @categories.each do |category| %>
      <table class="categories">
      <tbody>
          <% decksWording = category.decks.count == 1 ? "deck" : "decks" %>
          <% cardCount = 0 %>
          <% category.decks.each do |deck| %>
            <% cardCount += deck.cards.count %>
          <% end %>
          <% cardsWording = cardCount == 1 ? "card" : "cards" %>
          <tr>
            <td data-label="Title:"><%= category.name %></td>
            <td class="links"><%= link_to 'Edit', edit_category_path(category) %></td>
            <td class="links"><%= link_to 'Delete', category, method: :delete, data: { confirm: "This category is set for #{category.decks.count} #{decksWording} and #{cardCount} #{cardsWording}.  Are you sure you want to delete the '#{category.name}' category?" } %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>

  <br>

  <ul class="div_nav left">
    <li><%= link_to 'New Category', new_category_path(@category) %></li>
  </ul>
  
</div>
